# Hugo build outputs
/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json

# Temporary lock file which is used to indicate that a yarn install is in progress
.yarn-integrity

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Hugo dev server database
.hugo_build.lock
